{% load static %}

{% with nameSite="Prog Web BCC" colorBase1="#ff00ff" colorBase2="#ff00ff" colorBase3="#ff00ff" %}

<!DOCTYPE html>
<html lang="pt">

<head>
    {% block title %}{% endblock %}


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard">
    <meta name="author" content="GOB System and BCC-IFG">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'src_app/bootstrap.min.css' %}"/> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}

    {% block style %}<!-- insert style -->{% endblock %}


</head>

<body class="bg-light">

    <div class="card-header nav">
        <img src="https://static.wixstatic.com/media/7e2598_bdf9d567fe984934bc38adeb72e2c6d9~mv2.png/v1/fill/w_207,h_40,al_c,q_85,usm_0.66_1.00_0.01/logo%20energize%20site.webp" alt="">
        {% block sidebar %}
        {% endblock sidebar %}
        <a class="nav-link" href="#">|</a>
        <a class="nav-link" href="{% url '' %}">Nav 1</a>
        <a class="nav-link" href="{% url '' %}">Nav 2</a>
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </div>

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}

    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'bootstrap/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> {% endcomment %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    {% block javascript %}
    <!-- Script Block--> 
    {% endblock javascript %}
</body>

<footer>
    <div class="footer navbar-bottom pt-5 border-bottom">
        <div class="row">
            <div class="col-md-12" style="text-align: center; vertical-align: middle;">
                <img src="https://static.wixstatic.com/media/7e2598_ce180bec85d342338ef7ec2809cea024~mv2.png/v1/fill/w_1360,h_176,al_c,q_85,usm_0.66_1.00_0.01/Sem%20t%C3%ADtulo-1.webp" class="img-thumbnail-funcionarios" alt="...">
                <div class="row py-4 d-flex justify-content-center align-items-center" style="background: #6b7eb5; font-size:14px; color:white; text-align:center">
                        <div class="col-12">BCC - IFG | GOB System © Todos os Direitos Reservados</div>
                        <div class="col-12">Desenvolvido por <a href="https://gobsystem.dev" target="_blank" style="color: white">GOB System</a></div>
                        <div class="col-12">e parcecia com <a href="https://bcc.ifg.edu.br/" target="_blank" style="color: white">BCC IFG</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>


{% endwith %}
